%div.jumbotron
  %div.container
    %h1
      2014 Oklahoma Sod Field Days
    %h2
      October 3rd &amp; 4th, 2014
    %p.lead
      Hello Sod Farmers!
      %br
      With our show being about a week away, we wanted to touch base with some field day details.
      We hope to see you there! Don’t forget to bring 1 roll of bermuda sod (no tiff) for the sod strength event!
      %br
      We have 32 Exhibitors, more than 10 are New Exhibitors
    %h3.text-center
      Trucks &#149; Tractors &#149; Trailers &#149; Forklifts &#149; Turf Licenses &#149; Tillage Tools &#149; Oil Company
%div.container
  %h2
    OSPA Sod Field Days Links
  %div.row
    %div.col-md-3
      %a{href: "/invitation.pdf", title: "OSPA Field Days Invitation"} OSPA Field Days Invitation
    %div.col-md-3
      %a{href: "/hotel.pdf", title: "Hotel Recommendations"} Hotel Recommendations
    %div.col-md-3
      %a{href: "/farm_registration.pdf", title: "OSPA Sod Farm Registration"} OSPA Sod Farm Registration
    %div.col-md-3
      %a{href: "/ScheduleOfEventsAndContestRules.pdf", title: "Schedule of Events and Contest Rules"} Schedule of Events &amp; Contest Rules
  %hr
%div.container
  %h2 Schedule of Events
  %div.row
    %div.col-md-5
      %h3 Friday October 3rd, 2014
      %dl.dl-horizontal
        %dt 3:00 pm – 6:00 pm
        %dd Registration
        %dt 3:00 pm – 6:00 pm
        %dd Sod Strength Test
        %dt 3:00 pm – 6:00 pm
        %dd Exhibits Open & Demo
        %dt 6:00 pm – 7:30 pm
        %dd Dinner
        %dt 7:30 pm – Finish &nbsp;&nbsp;
        %dd Exhibits Open
    %div.col-md-5
      %h3 Saturday October 4th, 2014
      %dl.dl-horizontal
        %dt 8:00 am – 10:00 am
        %dd Registration
        %dt 8:00 am – 10:00 am
        %dd Sod Strength Test
        %dt 9:00 am – 12:00 am
        %dd Exhibits Open
        %dt 12:00 pm – 1:30 pm
        %dd Lunch
        %dt 1:30 pm – 3:00 pm
        %dd Exhibits Open & Demo
        %dt 1:30 pm – Finish &nbsp;&nbsp;
        %dd Rodeo Event
%div.container
  %div.row
    %div.col-md-5
      %h2 Rodeo Events
      %p
        We will have four rodeo events that include:
      %ul
        %li Sod Strength
        %li Sod Cutting
        %li Loader Obstacle Course
        %li Sod Laying Contest
        %li 1 roll Bermuda (no tiff)
        %li 2 men
        %li 1 man
        %li 3 men
      %p There will be prize money for 1st, 2nd, & 3rd place for each timed event.
    %div.col-md-5
      %h2 Events for the Kids
      %p
        An awesome playground will be set up for your children, which includes:
      %ul
        %li Hay Mountain
        %li “OSPA” Maze
        %li Games
%div.container
  %div.row
    %div.col-md-4
      %h2
        Oklahoma Sod Field Days will be held this year at:
        %address
          Tulsa Grass & Sod Farms     13801 S. Memorial Drive, Bixby, Oklahoma
    %div.col-md-5
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3229.2500790074146!2d-95.886369!3d35.965311000000014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87b68fe858f4658d%3A0xa71950ee0368d9b1!2sTulsa+Grass+%26+Sod+Farms!5e0!3m2!1sen!2sus!4v1411949832210" width="600" height="450" frameborder="0" style="border:0"></iframe>
  %hr
%div.container
  %div
    %img{src: image_path('far_off.jpg'), class: "img-rounded img-responsive", alt: ""}
    %p.text-muted
      Past Oklahoma Sod Field Days
%div.jumbotron
  %div.container
    %div.row
      %div.col-md-4
        =haml :contact, :layout => false
      %div.col-md-6
        =haml :signup, :layout => false
